---
import Layout from '../layouts/Layout.astro'; //importamos un componente en nuestra mainpage
import App  from '../components/App.svelte';

/*clien:idle: es una directiva de carga de componente. 
Carga e hidrata el componente JavaScript una vez que la página haya terminado
con su carga inicial y se haya activado el evento 
requestIdleCallback. (API Web, Windows)

El método window.requestIdleCallback() es una herramienta que los 
desarrolladores web pueden usar para ejecutar funciones cuando el 
navegador no está ocupado realizando otras tareas prioritarias, 
como manejar animaciones o responder a interacciones del usuario.
*/
---

<Layout title="ASTRO PDF">	


	<main class="grid place-content-center min-h-screen w-screen relative">
		<h1 class="text-6xl font-bold text-center pb-10">
			<img  class="w-100" src="logoeditedfinal.png"> 
		</h1>
		<section>
			<App client:idle /> 
		</section>
	</main>

	
</Layout>



